<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Review</title>
  </head>
  <body>
    <header><h1>Leave a Review</h1></header>
    <main>
      <form>
        <label for="name">Your Name</label>
        <input type="text" name="name" id="name" />
      </form>
      <form>
        <label for="comment">comment</label>
        <input type="text" name="comment" id="comment" />
      </form>
      <form>
        <p>Rating</p>
        <input type="radio" name="rating" id="5" />
        <label for="five">5(best)</label>
        <label for="four">4</label>
        <input type="radio" name="rating" id="4" />
        <label for="three">3</label>
        <input type="radio" name="rating" id="3" />
        <label for="two">2</label>
        <input type="radio" name="rating" id="2" />
        <label for="one">1(worst)</label>
        <input type="radio" name="rating" id="1" />
        <button>Submit</button>
      </form>
      <a href="/">Never Mind</a>
    </main>
  </body>
</html>